#Temporary files
*.tmp
*.swp
*.swo
*.bak
*.orig

#Temporary cache
.cache/
.cache/**

#OS files
.DS_Store
Thumbs.db
desktop.ini

#Logs
*.log

#JetBrains IDEs
.idea/

#VS Code
.vscode/

# Vim / Neovim
.Session.vim
