
//Startup applications configuration

spawn-at-startup "waybar"
spawn-at-startup "mako"
spawn-at-startup "lxqt-policykit-agent"
spawn-at-startup "wl-clip-persist" "--clipboard" "both"
spawn-at-startup "sh" "-c" "wl-paste --type text --watch cliphist store"
